$('p.message-alert').fadeOut();
$('#message_<%=@message.id%>').fadeOut('slow',function(){
    $(this).html('<div class="text-center"><p class="message-alert">Message deleted</p></div>');
}).fadeIn("slow");
