// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#message-form textarea {
	width:100%;
	border-radius:5px;
	padding:10px;
}

#messages {
	width:100%;
}

.tweet {
	border-bottom: 1px solid #e1e8ed;
	border-top: 1px solid #e1e8ed;
	background-color: #eff0f1;
	height:100px;
}

.tweet-image img {
	margin-top:10px;
	width:62px;
	border-radius:3px;
}

p.handle {
	float:left;
	margin-bottom: 0px;
	margin-top:10px;
	margin-right: 5px;
}

p.time {
	float:right;
	color:#808080;
}

p.content {
	display:block;
	float:none;
}

.tweet-border {
	background-color: #fbfcfc;
	height:20px;
	
}

p.message-alert {
	color:#800000;
}