%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Untwitter
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %link{href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel: "stylesheet", integrity: "sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1", crossorigin: "anonymous"}
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      = yield

:javascript
  $("#message_message_body").bind('input propertychange', function() {
    var mLength = parseInt($("#message_message_body").val().length);
    var remLength = 150 - mLength;
    var overLength = mLength - 150;
    $("h4.remaining").text(remLength);
    if (remLength < 0) {
      $(".send-message").prop("disabled", true);
      $("#error-form").removeClass("hidden").text("Your message is "+overLength+" characters too long");
    }
    else if (remLength == 150){
      $(".send-message").prop("disabled", true);
    }
    else {
      $("#error-form").addClass("hidden")
      $(".send-message").prop("disabled", false);
    }
  });